<?xml version="1.0"?>
<launch>


  <!-- load the controllers -->
  <!--<node name="thor_health_satus_node" pkg="thor_health_status" type="thor_health_status_node" respawn="true" output="screen">-->

 <include file="$(find hector_computer_monitor)/launch/computer_monitor.launch" />

  <node pkg="diagnostic_aggregator" type="aggregator_node"
      name="diag_agg" >
    <rosparam command="load"
              file="$(find thor_health_status)/config/thor.yaml" />
    </node>






   


 

</launch>
